<div *ngIf="selectedHero">
    <!-- Formatear con UppercasePipe -->
    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedHero.id}}</div>
    <div>
        <label for="hero-name">Hero name: </label>
        <!--[(ngModel)] es la sintaxis de enlace de datos bidireccional de Angular.-->
        <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
    </div>
</div>
<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let h of myheroes" [class.selected]="h === selectedHero" (click)="onSelect(h)">
        <span class="badge">{{h.id}}</span> {{h.name}}
    </li>
</ul>